*{
	cursor:  url('../cursor/appleblue/cursor.cur'), pointer;
	margin: 0px;
	padding: 0px;

}

article
{
	font-family: 'Trade Winds', cursive;
}


p
{
	cursor:  url('../cursor/appleblue/Beam.cur'), text;
}

h1
{
/*cursor:  url('../cursor/appleblue/Pen.cur'), text;*/
}

h2
{
cursor:  url('../cursor/appleblue/Beam.cur'), text;
}

a
{
	cursor:  url('../cursor/appleblue/Hand.cur'), hand;
	text-decoration: none;
}
body
{
	
	font-size: 17px;
	background-image:   url('../img/gato3.jpg');
	/*Posición de la primra imagen, de la segunda imagen */
	background-position: center, center center ;	
	background-repeat: repeat, no-repeat;
	color:  white ;
	
	/*font-family: 'Caesar Dressing', 'Verdana', cursive;*/
	/*font-family: 'Indie Flower', cursive;*/
	/*font-family: 'Indie Flower', cursive;*/
	
}

}
ul
{
	font-family: 'Geostar Fill', cursive;
	list-style: none;
}
nav
{
	border-radius: 10px;
	background-color: gray; 
	background: -webkit-linear-gradient(top, rgb(4, 2, 5), rgb(90, 78, 54));
	box-shadow: inset 0px 0px 20px #edf9ff;
	height: 650px;
	/*margin: 500px auto;*/
	width: 140px;
}

img 
{
	cursor:  url('../cursor/appleblue/Hand.cur'), hand;
}

.menu
{
	margin: -42px 0px;
	padding: 0px 0px;
}

.menu ul{

	float: left;
	margin-top: 70px;
	margin-right: 4px;
	padding: 4px 10px;
	position: relative;
	text-align: start;
	
}
.menu ul:hover{
	background: gray;
	background: -webkit-linear-gradient(top, #f4f4f4, #eee);
	border: 1px solid #777;
	border-radius:  10px 10px 10px 10px;
	padding: 4px 9px;
}

.menu ul a{
	cursor:  url('../cursor/appleblue/Hand.cur'), hand;
	color:rgb(234, 176, 92);
	text-shadow: 3px 0px 1px black;	
}

.menu ul:hover a
{
	color: black;
	text-shadow: 1px 1px 1px gray;
}
.menu ul:hover .caja_muestra
{
	display: block;
	left: -1px;
}

.caja_muestra
{
	background: -webkit-linear-gradient(top, #A65901, #CC840B);
	border: 1px solid #777;
	border-radius: 15px 15px 15px 15px;
	border-left: none;
	display: none;
    margin: -74px 140px;
	padding: 0px 100px;
	position: absolute;
	text-align: -webkit-center;
	width:300px;

}
.img
{
	cursor:  url('../cursor/appleblue/cursor.cur'), pointer;
}


#titulo
{
	background: -webkit-linear-gradient(top, #027CF9, #252C34); 
	border-bottom: 10px solid black;
	margin-bottom: 1px;
	
}

.col
{
	/*float: left;*/
	margin: 10px;
	position: relative;
	width: 40%;
}

.col img
{
	position: relative;
	/*float: right;*/
	height: 100px;
	width: 150px;
}

.titulo
{
	font-family: 'Joti One', cursive;
}

.facebook
{
	font-family: 'Joti One', cursive;
	padding: 20px;
	/*background: -webkit-linear-gradient(top, #A65901, #CC840B);*/
	border-radius: 15px 15px 15px 15px;
	/*font-family: arial;*/
}

.github
{
	font-family: 'Joti One', cursive;
	padding: 33px;
	/*background: -webkit-linear-gradient(top, #A65901, #CC840B);*/
	border-radius: 15px 15px 15px 15px;
}

.youtube
{
	font-family: 'Joti One', cursive;
	padding: 25px;
	/*background: -webkit-linear-gradient(top, #A65901, #CC840B);*/
	border-radius: 15px 15px 15px 15px;
}

.twitter
{
	font-family: 'Joti One', cursive;
	padding: 27px;
	/*background: -webkit-linear-gradient(top, #A65901, #CC840B);*/
	border-radius: 15px 15px 15px 15px;
}

.instagram
{
	font-family: 'Joti One', cursive;
	padding: 20px;
	/*background: -webkit-linear-gradient(top, #A65901, #CC840B);*/
	border-radius: 15px 15px 15px 15px;
}
.textoColumna{
	background-color: (orange)
	text-align: justify;
	column-count: 2;
	-webkit-column-count: 2;

	column-gap: 20px;
	-webkit-column-gap: 20px;

	column-rule: 1px dotted black;
	-webkit-column-rule: 1px dotted black;
}
.login{
	column-count: 2;
	-webkit-column-count: 2;
}

*:focus {
    outline: 0;
}

